body{
    font-family: Roboto, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: #1F2937;
    color: white;
}
.logo{
    font-weight: 900;
    font-size: 24px;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.firstbodytitle{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    text-align: left;
}
.firstbodytext{
    font-size: 18px;
    color: #F9FAF8;
    text-align: left;
}
.firstbody{
    background-color: #1F2937;
    padding: 10px;
    display: flex;
    align-items: center;
}
.text{
    padding-right: 300px;
    max-width: 500px;
}
button{
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}
.secondbody{
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-direction: row;
}
p{
    text-align: center;
    font-family: Roboto, sans-serif;
    max-width: 180px;
}
.box1,.box2,.box3,.box4{
    border: 3px solid #3882F8;
    border-radius: 10px;
    width: 150px;
    aspect-ratio: 1/1;
}
.secondtitle{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}